.threenumbers-list {
  display: flex;
  align-items: center;
  gap: 20px;
}
.threenumbers {
  margin-top: 1000px;
}
.threenumbers-title {
  display: flex;
  text-align: center;
  font-family: 'Montserrat Alternates';
  font-weight: 400;
  font-style: 'Regular';
  font-size: 16px;
}
.threenumbers-item {
  font-family: 'Montserrat Alternates';
  font-weight: 400;
  font-style: 'Regular';
  font-size: 12px;
  color: #7e7e7e;
}
.input {
  text-align: center;
  margin-top: 36px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  margin-left: 38px;
  border-radius: 20px;
  border: none;
  background-color: #d7d7d7;
}
.btn {
  justify-content: center;
  margin-top: 36px;
  padding: 10px 10px 10px 10px;
  font-family: 'Montserrat Alternates';
  font-weight: 400;
  font-style: 'Regular';
  font-size: 17px;
  color: #ffffff;
  background: #000;
  border-radius: 20px;
}

.area {
  background: #5abb58;
  border-radius: 37px;
  border: solid black;
  width: 720px;
  height: 220px;
}
#ball {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
}

.knp-title {
  font-family: 'Montserrat Alternates';
  font-weight: 400;
  font-style: 'Regular';
  font-size: 16px;
}
.knp-btn {
  width: 60px;
  height: 60px;
  background-color: black;
  border-radius: 20px;
}
.knp-option {
  background-color: black;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
}
.knp-svg {
  width: 40px;
  height: 40px;
}
