.threenumbers-list {
  display: flex;
  align-items: center;
  gap: 20px;
}
.threenumbers {
  margin-top: 1000px;
  margin-left: 550px;
}
.threenumbers-title {
  display: flex;
  text-align: center;
  font-family: 'Montserrat Alternates';
  font-weight: 400;
  font-style: 'Regular';
  font-size: 16px;
}
.threenumbers-item {
  font-family: 'Montserrat Alternates';
  font-weight: 400;
  font-style: 'Regular';
  font-size: 12px;
  color: #7e7e7e;
}
.input {
  text-align: center;
  margin-top: 36px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  margin-left: 38px;
  border-radius: 20px;
  border: none;
  background-color: #d7d7d7;
}
.btn {
justify-content: center;
  margin-top: 36px;
  padding: 10px 10px 10px 10px;
  font-family: 'Montserrat Alternates';
  font-weight: 400;
  font-style: 'Regular';
  font-size: 17px;
  color: #ffffff;
  background: #000;

  border-radius: 20px;
}
