.threenumbers-list {
  display: flex;
}
.threenumbers {
  margin-top: 1000px;
  margin-left: 550px;
}

.threenumbers-item {
  font-family: 'Montserrat Alternates';
  font-weight: 400;
  font-style: 'Regular';
  font-size: 12px;
}
.input {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  margin-left: 38px;
  border-radius: 20px;
  border: none;
}
