.header{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    background-color: white;
    padding: 21px;
}
.header-list{
    display: flex;
    gap: 60px;
    margin-right: 361px;
    margin-left: 81px;
    align-items: center;
    
}
.header-item{
    font-weight: 400;
    font-style: Regular;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0%;
    white-space: nowrap;
} 
.header-submenu{
    font-family: "Montserrat Alternates", sans-serif;
    background-color: var(--white);
    cursor: pointer;
}
.header-navigation{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.logo{
    display: flex;
}
.logo-text{
    display: block;
    align-self: center;
    text-align: right;
    margin-left: 10px;
}
.logo-text-magic{
    font-family: "Sacramento", serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0%;
}
.logo-text-coding{
    font-weight: 400;
    font-style: Regular;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0%;
}

/*submenu*/
.submenu {
    background-color: #ffffff;
    gap: 10px;
    position: absolute;
    display: none;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border: 1px solid var(--black);
    border-top: none;
    left: 665px;
}
.submenu-item {
    color: var(--black);
    padding: 10px 20px;
    text-align: center;
}
.submenu-link {
    color: var(--black);
    font-size: 12px;
    font-family: Montserrat Alternates;
    font-weight: 400;
    line-height: 100%;
    padding: 10px;
}
.submenu-item:hover:last-child {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.submenu-item:hover {
    transition: 0.3s;
    background-color: #F1F1F1;
}

/*year*/
.year {
    margin-top: 100px;
}
.year-title {
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    margin-top: 36px;
}
.year-fullinput {
    align-items: center;
    display: flex;
}

.year-btn {
    cursor: pointer;
    width: 60px;
    padding: 12.7px;
    border: none;
    font-size: 20px;
    color: white;
    background: black;
    border-radius: 0 30px 30px 0;
}

.year {
    border-top: 1px solid var(--black);
}

.year-title{
    text-align: center;
}

#yearInput {
    width: 250px;
    padding: 15px;
    border: none;
    border-radius: 30px 0 0 30px;
    background: #ddd;
    font-size: 16px;
}

#yearResult {
    margin-top: 105px;
    font-size: 20px;
    font-weight: bold;
}
/*computer*/

.computer-title{
    margin-top: 100px;
    text-align: center;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
}


#computerInput {
    width: 250px;
    padding: 15px;
    border: none;
    border-radius: 30px 0 0 30px;
    background: #ddd;
    font-size: 16px;
}

.computer-btn{
    cursor: pointer;
    width: 60px;
    padding: 12.7px;
    border: none;
    font-size: 20px;
    color: white;
    background: black;
    border-radius: 0 30px 30px 0;
}

//calculator
.calculator-title {
    text-align: center;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
}

.calculator-flex {
    display: flex;
    
}

.operations-buttons {
    color: white;
    background-color: black;
    padding: 5px 10px;
    border-radius: 20px;
}