@import '~node_modules/modern-normalize/modern-normalize.css';
:root {
  --white: #fff;
  --correct: #039900;
  --incorrect: #990000;
  --black: #000;
}

body {
  background-color: white;
  color: #000;
  font-family: "Montserrat Alternates", sans-serif;
  transition: 0.5s;
}

body a {
  color: #000;
}

/*THEME BLACK WORK GOOD*/
body.dark {
  background-color: #1e1e1e;
  color: var(--white);
}

body.dark a {
  color: var(--white);
  transition: 0.3s;
}

body.dark header a {
  color: var(--black);
}

button {
  border: none;
}

a {
  text-decoration: none;
  color: #000;
}

ul, li {
  text-decoration: none;
  list-style: none;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.container {
  outline: solid orange;
  margin: 0 auto;
  width: 1920px;
  padding: 0;
}

h1, h2, h3, p, ul, li, input, button, img, a, body {
  margin: 0;
  padding: 0;
}

.header {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  background-color: white;
  padding: 21px;
}

.header-list {
  display: flex;
  gap: 60px;
  margin-right: 361px;
  margin-left: 81px;
  align-items: center;
}

.header-item {
  font-weight: 400;
  font-style: Regular;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
  white-space: nowrap;
}

.header-submenu {
  font-family: "Montserrat Alternates", sans-serif;
  background-color: var(--white);
  cursor: pointer;
}

.header-navigation {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logo {
  display: flex;
}

.logo-text {
  display: block;
  align-self: center;
  text-align: right;
  margin-left: 10px;
}

.logo-text-magic {
  font-family: "Sacramento", serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
}

.logo-text-coding {
  font-weight: 400;
  font-style: Regular;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
}

/*submenu*/
.submenu {
  background-color: #ffffff;
  gap: 10px;
  position: absolute;
  display: none;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border: 1px solid var(--black);
  border-top: none;
  left: 665px;
}

.submenu-item {
  color: var(--black);
  padding: 10px 20px;
  text-align: center;
}

.submenu-link {
  color: var(--black);
  font-size: 12px;
  font-family: Montserrat Alternates;
  font-weight: 400;
  line-height: 100%;
  padding: 10px;
}

.submenu-item:hover:last-child {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.submenu-item:hover {
  transition: 0.3s;
  background-color: #F1F1F1;
}

/*year*/
.year {
  margin-top: 100px;
}

.year-title {
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  margin-top: 36px;
}

.year-fullinput {
  align-items: center;
  display: flex;
}

.year-btn {
  cursor: pointer;
  width: 60px;
  padding: 12.7px;
  border: none;
  font-size: 20px;
  color: white;
  background: black;
  border-radius: 0 30px 30px 0;
}

.year {
  border-top: 1px solid var(--black);
}

.year-title {
  text-align: center;
}

#yearInput {
  width: 250px;
  padding: 15px;
  border: none;
  border-radius: 30px 0 0 30px;
  background: #ddd;
  font-size: 16px;
}

#yearResult {
  margin-top: 105px;
  font-size: 20px;
  font-weight: bold;
}

/*computer*/
.computer-title {
  margin-top: 100px;
  text-align: center;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
}

#computerInput {
  width: 250px;
  padding: 15px;
  border: none;
  border-radius: 30px 0 0 30px;
  background: #ddd;
  font-size: 16px;
}

.computer-btn {
  cursor: pointer;
  width: 60px;
  padding: 12.7px;
  border: none;
  font-size: 20px;
  color: white;
  background: black;
  border-radius: 0 30px 30px 0;
}

.threenumbers-list {
  display: flex;
  align-items: center;
  gap: 20px;
}

.threenumbers {
  margin-top: 1000px;
}

.threenumbers-title {
  display: flex;
  text-align: center;
  font-family: "Montserrat Alternates";
  font-weight: 400;
  font-style: "Regular";
  font-size: 16px;
}

.threenumbers-item {
  font-family: "Montserrat Alternates";
  font-weight: 400;
  font-style: "Regular";
  font-size: 12px;
  color: #7e7e7e;
}

.input {
  text-align: center;
  margin-top: 36px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  margin-left: 38px;
  border-radius: 20px;
  border: none;
  background-color: #d7d7d7;
}

.btn {
  justify-content: center;
  margin-top: 36px;
  padding: 10px 10px 10px 10px;
  font-family: "Montserrat Alternates";
  font-weight: 400;
  font-style: "Regular";
  font-size: 17px;
  color: #ffffff;
  background: #000;
  border-radius: 20px;
}

.area {
  background: #5ABB58;
  border-radius: 37px;
  border: solid black;
  width: 720px;
  height: 220px;
}/*# sourceMappingURL=index.css.map */