<section class="calculator container">
    <h2 class="calculator-title">Калькулятор</h2>
    <div class="calculator-flex">
    <input type="number" class="calculator-input" id="num1">
    <div class="calculator-operators">
        <button type="submit" id="plus">+</button>
        <button type="submit" id="mul">*</button>
        <button type="submit" id="minus">-</button>
        <button type="submit" id="div">/</button>
    </div>
    <input type="number" class="calculator-input" id="num2">
    <button type="submit" id="eq">=</button>
    <output id="calculator-result">Результат</output>
    </div>
</section>