<header class="header container">
        <nav class="header-navigation">
                <a href="./index.html" class="logo">
                    <img src="./images/coding_logo.svg" alt="logo">
                    <div class="logo-text">
                        <p class="logo-text-coding">Coding</p>
                        <p class="logo-text-magic">Magic</p>
                    </div>
                </a>
            <ul class="header-list">
                <li class="header-item" id="interactive">
                    <button type="button" class="header-submenu">Інтерактив</button>
                    <ul class="submenu">
                    <li class="submenu-item"><a href="" class="submenu-link">Числовий</a></li>
                    <li class="submenu-item"><a href="" class="submenu-link">Ігровий</a></li>
                    <li class="submenu-item"><a href="" class="submenu-link">Ознайомчий</a></li>
                </ul>
                </li>    
                <li class="header-item"><a href="">Наша команда</a></li>
                <li class="header-item"><a href="">Контакти</a></li>
            </ul>
            <div class="theme-toggle">
                <input type="checkbox" id="toggle" class="icon"/>
            </div>
        </nav>
    </header>