<section class=" container knp">

    <h3 class="knp-title">Камінь - ножиці - папір</h3>
    <button class="knp-btn" type="button"><img src="./images/stone.svg"></button>
        <button class="knp-btn" type="button" width="60px" height="60px"><img src="./images/scissors.svg"></button>
       <button class="knp-btn" type="button"><img src="./images/paper.svg" class="knp-svg"></button>
<P id="knp-result"></P>
   
<button class="knp-option" id="knp-computer" type="button">Варіант комп’ютера</button>
   <div class="score">
<p class="options-text" >рахунок</p>
<p class="options-text"id="comp-score">Комп’ютер:</p>
<p class="options-text"id="user-score">ви:</p> 
   </div> 
</section>