<section class="container sciences">
  <h3 class="sciences-title">Обери вченого/их</h3>
  <button class="sciences-btn" type="button" alt="science">
    Які вчені народилися в 19 ст.
  </button>
  <button class="sciences-btn" type="button" alt="science">
    Знайти рік народження Albert Einshtein
  </button>
  <button class="sciences-btn" type="button" alt="science">
    Відсортувати вчених за алфавітом
  </button>
  <button class="sciences-btn" type="button" alt="science">
    Відсортувати вчених за кількістю прожитих років
  </button>
  <button class="sciences-btn" type="button" alt="science">
    Знайти вченого, який народився найпізніше
  </button>
  <button class="sciences-btn" type="button" alt="science">
    Знайти вчених, в яких співпадають перші літери імені і прізвища
  </button>
  <button class="sciences-btn" type="button" alt="science">
    Знайти вчених, прізвища яких починаються на на літеру “С”
  </button>
  <button class="sciences-btn" type="button" alt="science">
    Видалити всіх вчених, ім’я яких починається на “А”
  </button>
  <button class="sciences-btn" type="button" alt="science">
    Знайти вченого, який прожив найдовше і вченого, який прожив найменше
  </button>
  <div id="result"></div>
</section>
