<section class="threenumbers container">
    <h2 class="threenumbers-title" id="threenumberTitle">Введіть 3 числа</h2>
    <ul class="threenumbers-list" id="threenumbersList">
        <li class="threenumbers-item" id="threenumbersItem"><input type="text"></li>
        <li class="threenumbers-item" id="threenumbersItem"><input type="text"></li>
        <li class="threenumbers-item" id="threenumbersItem"><input type="text"></li>
    </ul>
    <h3 class="threenumbers-text" id="threenumbersText">Найбільше число, яке ви ввели - </h3>
</section>