<section class="threenumbers container" style="background-color: aqua;">

    <h2 class="threenumbers-title" id="threenumberTitle">Введіть 3 числа</h2>
    <ul class="threenumbers-list" id="threenumbersList">
        <li class="threenumbers-item" ><input id="num1" type="text" placeholder="введіть число"></li>
        <li class="threenumbers-item" ><input id="num2" type="text" placeholder="введіть число"></li>
        <li class="threenumbers-item" ><input id="num3" type="text" placeholder="введіть число"></li>
         
        
        

    </ul> 
    <button id="btn" type="button">click</button>
    <h3 class="threenumbers-text" id="result"></h3>
</section>